.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    .title{
        margin-top: 1.5rem;
        text-align: center;
        font-size: 2rem;
        color: #1f3a6d;
        font-weight: bold;
    }
    .diapazone-date{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-self: center;
        border: 3px solid #ffd700;
        padding: 0.5rem 2rem;

        p{
            font-size: 1.5;
            color: #1f3a6d;
            font-weight: bold;
            align-content: center;
        }

        i{
            margin-left: 1rem;
            color: #1f3a6d;
            cursor: pointer;
        }
    }
}