<div class="wrapper">
  <div class="container flex-center">
    <div class="logo">
      <img src="/assets/image/LOGO.png" alt="">
      <h3 class="title">MONEY BEAT</h3>
      <h6 class="description">Контролюй свої витрати, керуй своїм майбутнім!</h6>
    </div>
    <div class="loader">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="about_author">
      <p>By</p>
      <h4><a href="https://github.com/PavloZaluskyy" target="_blank">Pavlo Zaluskyy</a></h4>
    </div>
  </div>
</div>