.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;

    .title {
        margin-top: 1.5rem;
        text-align: center;
        font-size: 2rem;
        color: #1f3a6d;
        font-weight: bold;
    }

    img {
        width: 200px;
    }
}