<header>
    <nav>
        <div class="nav-wrapper container">
          <a routerLink="" class="brand-logo"><img src="../../../assets/image/logo2.png" class="logo" alt=""></a>
          <!-- <button ><i class="material-icons">menu</i></button> -->

          <a  class="sidenav-trigger" (click)="open(contentMenu)"><i class="material-icons">menu</i></a>          
          <a  class="sidenav-trigger settings" (click)="openEnd(content)"><i class="material-icons ">settings</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a routerLink="/finances">ФІНАНСИ</a></li>
            <li><a routerLink="/new-ticket">ДОБАВИТИ ВИТРАТИ</a></li>
            <li><a routerLink="/earnings">НАДХОДЖЕННЯ</a></li>
            <li><a routerLink="/report">ЗВІТИ</a></li>
            <!-- <li ngbDropdown>
              <a class="" id="dropdownBasic1" ngbDropdownToggle><i class="material-icons">settings</i></a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <ul class="">
                  <li ngbDropdownItem><a class="title-menu" routerLink="/settings-client">ЗАГАЛЬНІ НАЛАШТУВАННЯ<i class="material-icons ">lock</i></a></li>
                  <li ngbDropdownItem><a class="title-menu" routerLink="/settings-cost">НАЛАШТУВАННЯ ВИТРАТ<i class="material-icons ">lock</i></a></li>
                  <li ngbDropdownItem><a class="title-menu" routerLink="/settings-earning">НАЛАШТУВАННЯ НАДХОДЖЕННЯ <i class="material-icons ">lock</i></a></li> 
                  <li ngbDropdownItem><a class="title-menu" routerLink="/add-category">ДОБАВИТИ КАТЕГОРІЮ <i class="material-icons ">lock</i></a></li>
                </ul>
              </div>
            </li> -->
          </ul>
        </div>
      </nav>
      
      <!-- <ul class="sidenav" id="mobile-demo">
        <li><a routerLink="/finances">ФІНАНСИ</a></li>
        <li><a routerLink="/new-ticket">ДОБАВИТИ ВИТРАТИ</a></li>
        <li><a routerLink="/earnings">НАДХОДЖЕННЯ</a></li>
        <li><a routerLink="/report">ЗВІТИ</a></li>
      </ul> -->
</header>

<ng-template #contentMenu let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title title" id="offcanvas-basic-title">МЕНЮ</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body flex-spece-bett">
		<ul class="" id="">
      <li><a class="title-menu" routerLink="/finances">ФІНАНСИ</a></li>
      <li><a class="title-menu" routerLink="/new-ticket">ДОБАВИТИ ВИТРАТИ</a></li>
      <li><a class="title-menu" routerLink="/earnings">НАДХОДЖЕННЯ</a></li>
      <li><a class="title-menu" routerLink="/report">ЗВІТИ</a></li>
    </ul> 
    <div class="title-menu">
      2025 developed by <a href="https://github.com/PavloZaluskyy"  target="_blank">PavloZaluskyy</a> 
    </div>
	</div>
</ng-template>
<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title title">НАЛАШТУВАННЯ</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body flex-spece-bett">
		<ul class="" >
      <li><a class="title-menu" routerLink="/settings-client">ЗАГАЛЬНІ НАЛАШТУВАННЯ<i class="material-icons ">lock</i></a></li>
      <li><a class="title-menu" routerLink="/settings-cost">НАЛАШТУВАННЯ ВИТРАТ<i class="material-icons ">lock</i></a></li>
      <li><a class="title-menu" routerLink="/settings-earning">НАЛАШТУВАННЯ НАДХОДЖЕННЯ <i class="material-icons ">lock</i></a></li> 
      <li><a class="title-menu" routerLink="/add-category">ДОБАВИТИ КАТЕГОРІЮ <i class="material-icons ">lock</i></a></li>
    </ul>
    <div class="title-menu">
      2025 developed by <a href="https://github.com/PavloZaluskyy"  target="_blank">PavloZaluskyy</a>
    </div>
	</div>
</ng-template>