<header>
    <nav>
        <div class="nav-wrapper container">
          <a routerLink="" class="brand-logo"><img src="../../../assets/image/logo2.png" class="logo" alt=""></a>
          <!-- <button ><i class="material-icons">menu</i></button> -->

          <a  class="sidenav-trigger" (click)="open(contentMenu)"><i class="material-icons">menu</i></a>          
          <a  class="sidenav-trigger settings" (click)="openEnd(content)"><i class="material-icons ">settings</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a routerLink="/finances">ФІНАНСИ</a></li>
            <li><a routerLink="/new-ticket">ДОБАВИТИ ВИТРАТИ</a></li>
            <li><a routerLink="/earnings">НАДХОДЖЕННЯ</a></li>
            <li><a routerLink="/report">ЗВІТИ</a></li>
            <li><a><i class="material-icons">settings</i></a></li>
          </ul>
        </div>
      </nav>
    
      <!-- <ul class="sidenav" id="mobile-demo">
        <li><a routerLink="/finances">ФІНАНСИ</a></li>
        <li><a routerLink="/new-ticket">ДОБАВИТИ ВИТРАТИ</a></li>
        <li><a routerLink="/earnings">НАДХОДЖЕННЯ</a></li>
        <li><a routerLink="/report">ЗВІТИ</a></li>
      </ul> -->
</header>

<ng-template #contentMenu let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title" id="offcanvas-basic-title">МЕНЮ</h4>
	</div>
	<div class="offcanvas-body">
		<ul class="" id="">
      <li><a routerLink="/finances">ФІНАНСИ</a></li>
      <li><a routerLink="/new-ticket">ДОБАВИТИ ВИТРАТИ</a></li>
      <li><a routerLink="/earnings">НАДХОДЖЕННЯ</a></li>
      <li><a routerLink="/report">ЗВІТИ</a></li>
    </ul> 
	
	</div>
</ng-template>
<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title title">НАЛАШТУВАННЯ</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="" >
      <li><a routerLink="/settings-client">ЗАГАЛЬНІ НАЛАШТУВАННЯ<i class="material-icons ">lock</i></a></li>
      <li><a routerLink="/settings-cost">НАЛАШТУВАННЯ ВИТРАТ<i class="material-icons ">lock</i></a></li>
      <li><a routerLink="/settings-earning">НАЛАШТУВАННЯ НАДХОДЖЕННЯ <i class="material-icons ">lock</i></a></li> 
      <!-- <li><a routerLink="/report">ЗВІТИ</a></li>
      <li><a routerLink="/top-store">Top store</a></li> -->
    </ul>
	</div>
</ng-template>