<header>
    <nav>
        <div class="nav-wrapper container">
          <a routerLink="" class="brand-logo">$ Грошовий Ритм</a>
          <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a routerLink="">ФІНАНСИ</a></li>
            <li><a routerLink="">ВИТРАТИ</a></li>
            <li><a routerLink="">НАДХОДЖЕННЯ</a></li>
            <li><a routerLink="">ЗВІТИ</a></li>
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a routerLink="">ФІНАНСИ</a></li>
        <li><a routerLink="">ВИТРАТИ</a></li>
        <li><a routerLink="">НАДХОДЖЕННЯ</a></li>
        <li><a routerLink="">ЗВІТИ</a></li>
      </ul>
</header>