<div class="wrapper">
    <h3 class="title">ВІТАЮ {{client?.name}}! РАДИЙ БАЧИТИ ВАС В MONEY-BEAT!</h3>
    <p class="description">Готовий взяти свої фінанси під контроль?</p>
    <div class="btn-add-repeice">
        <div class="file-field input-field" routerLink="/new-ticket">
            <div class="btn file-btn">
              <i class="material-icons">add</i>
            </div>
          </div>
    </div>
    <h3 class="title">СПРОБУЙТЕ НАШІ МОЖЛИВОСTІ:</h3>
    <div class="container-card">
        <div class="cart" routerLink="/earnings">
          <div class="card-content">
            <img src="../../../assets/image/1677262090_bogatyr-club-p-investitsii-fon-krasivii-fon-1.jpg" alt="">
            <div class="fiter"></div>
            <h5>ДОБАВИТИ НАДХОДЖЕННЯ</h5>
          </div>
        </div>
        <div class="cart" routerLink="/finances">
          <div class="card-content">
            <img src="../../../assets/image/завантаження (1).jpg" alt="">
            <div class="fiter"></div>
            <h5>ФІНАНСИ</h5>

          </div>
        </div>
        <div class="cart" [routerLink]="['/store', 1]">
          <div class="card-content">
            <img src="../../../assets/image/завантаження (2).jpg" alt="">
            <div class="fiter"></div>
            <h5>ВИТРАТИ ПО МАГАЗИНАХ</h5>

          </div>
        </div>
        <div class="cart" routerLink="/top-store">
          <div class="card-content">
            <img src="../../../assets/image/завантаження (3).jpg" alt="">
            <div class="fiter"></div>
            <h5>ТОП МАГАЗИНІВ</h5>


          </div>
        </div>
        <div class="cart" [routerLink]="['/category', '']">
          <div class="card-content">
            <img src="../../../assets/image/завантаження (4).jpg" alt="">
            <div class="fiter"></div>
            <h5>ВИТРАТИ ПО КАТЕГОРіЯХ</h5>

          </div>
        </div>
        <div class="cart" [routerLink]="['/good', 1]">
          <div class="card-content">
            <img src="../../../assets/image/завантаження.jpg" alt="">
            <div class="fiter"></div>
            <h5>ВИТРАТИ ПО ТОВАРАХ</h5>

          </div>
        </div>
      </div>
    
    
</div>