<div class="wrapper">
    <div class="title"> НАДХОДЖЕННЯ</div>
    <div class="row">
        <div class="col s12 m7">
            <div class="card diapazone-date">
                <p>з {{this.dateFrom ? this.dateFrom.day + '/'+ this.dateFrom.month + '/' + this.dateFrom.year :
                    currentDateFrom | date: 'dd/MM/yy' }} по {{this.dateTo ? this.dateTo.day + '/'+ this.dateTo.month +
                    '/'
                    + this.dateTo.year : currentDate | date: 'dd/MM/yy' }}</p>
                <i class="small material-icons" (click)="open(content)">date_range</i>
                <i class="small material-icons" (click)="reloadCalendar()">replay</i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card select-category">
                <a class="btn-large waves-effect light-blue darken-4 btn" (click)="searchDate()">Побачити товари</a>
            </div>
        </div>
    </div>
    <div class="bg_absolute" *ngIf="isLoader">
        <div class="fixed_pos">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="wrapper" *ngIf="isShowDate">
        <div class="row" *ngIf="viewEarning.length">
            <div class="col s12 m12 l12">
                <div class="card">
                    <google-chart #chart [type]="type" [data]="DateEarningGoogle" [options]="options" [width]="width"
                        [height]="height">
                    </google-chart>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="viewEarning.length && isShowDate">
        <div class="wrapper" *ngIf="viewEarning.length > 5 ? true : false">
            <div class="row margin-zero" *ngFor="let receipt of cutReceiptsArr()">
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="flex fcol">
                            <div class="about-store m-l-r-2rem">
                                <h5>{{receipt.nameEarning}}</h5>
                            </div>
                            <div class="flex">
                                <div class="price m-l-r-2rem">{{receipt.totalAmound | currency:'₴':'symbol':'2.2-3':'en'}}</div>
                                <div class="date m-l-r-2rem">{{receipt.date}}</div>
                                <a class="btn-large waves-effect light-blue darken-4 btn margin-btn-1rem" >ДО
                                    СТАТИСТИКИ <i class="material-icons">insert_chart</i></a>

                            </div>
                            <div class="flex">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <a class="btn-large waves-effect light-blue darken-4 btn"
                (click)="togleShowAllReceipts()">{{!isShowReceipts
                ? 'Показати всі' : 'Сховати'}}</a>
        </div>
        <div class="wrapper" *ngIf="viewEarning.length <= 5 ? true : false">
            <div class="row margin-zero" *ngFor="let receipt of viewEarning">
                <div class="col s12 m12 l12">
                    <div class="card">
                        <div class="flex fcol">
                            <div class="about-store m-l-r-2rem">
                                <h5>{{receipt.nameEarning}}</h5>
                            </div>
                            <div class="flex">
                                <div class="price m-l-r-2rem">{{receipt.totalAmound | currency:'₴':'symbol':'2.2-3':'en'}}</div>
                                <div class="date m-l-r-2rem">{{receipt.date}}</div>
                                
                            </div>
                            <div class="">
                                <a class="btn-large waves-effect light-blue darken-4 btn margin-btn-1rem"  [routerLink]="['/earning-details', receipt.id]">ДО
                                    НАДХОДЖЕННЯ<i class="material-icons">receipt</i></a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <a class="btn-large waves-effect light-blue darken-4 btn" *ngIf="viewEarning.length >= 5"
                (click)="togleShowAllReceipts()">{{!isShowReceipts
                ? 'Показати всі' : 'Сховати'}}</a>
        </div>
    </div>
    <div *ngIf="!viewEarning.length">
        <h4 class="title">У вибраному періоді не має витрат та надходжень</h4>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Виберіть період</h4>
        <button type="button" class="btn-close" aria-label="Close" #closebutton
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div>
        <app-calendar (onSelectedDate)="getSelectDate($event)"></app-calendar>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" id="closeModal"
            (click)="modal.close('save')">Зберегти</button>
    </div>
</ng-template>